@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims
@inject IAuthenticationService AuthService
@{
    // Autenticación para el area
    var areaSituado = ViewContext.RouteData.Values["area"] as string; // Obtengo el el area en que se encuentra el html
    var authResult = await AuthService.AuthenticateAsync(Context, $"Area{areaSituado}Cookies");
    var isAuthenticated = authResult?.Principal?.Identity?.IsAuthenticated ?? false;
    var username = isAuthenticated ? authResult?.Principal?.FindFirst(ClaimTypes.Name)?.Value : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Act8/base_Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Act8/base_Body.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Act8/base_Footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Act8/base_Noti.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Act8/base_Modal.css" asp-append-version="true" />
    @RenderSection("CSS", required: false)
</head>
<body>
    @* === Menu de la pagina === *@
    <nav class="menu-container m-auto" id="menu">
        <div class="navmenu">
            <input type="checkbox" id="central" hidden>
            <label for="central" class="central">
                <i class="open ri-menu-line ri-2x"></i>
                <i class="close ri-close-line ri-2x"></i>
            </label>
            <ul class="menu">
                <li><a asp-area="Act8" asp-controller="Peliculas" asp-action="" class="nav-link"><div><span>Peliculas</span><i class="ri-netflix-line ri-2x"></i></div></a></li>
                <li><a asp-area="Act8" asp-controller="Home" asp-action="Privacidad" class="nav-link"><div><span>Privacidad</span><i class="ri-key-line ri-2x"></i></div></a></li>
            </ul>
            <ul class="submenu">
                <!-- Si el usuario inicio sesion -->
                @if (isAuthenticated)
                {
                    <li><a asp-area="Act8" asp-controller="Usuario" asp-action="Logout"><span>Desconectar</span><div><i class="ri-close-circle-line"></i></div></a></li>
                    <li><a asp-area="Act8" asp-controller="Home" asp-action=""><span>Inicio</span><div><i class="ri-home-line"></i></div></a></li>
                    <li><a asp-area="Act8" asp-controller="Usuario" asp-action=""><span>(@(username))Perfil</span><div><i class="ri-user-line"></i></div></a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="Home" asp-action=""><span>Salir</span><div><i class="ri-close-circle-line"></i></div></a></li>
                    <li><a asp-area="Act8" asp-controller="Home" asp-action=""><span>Inicio</span><div><i class="ri-home-line"></i></div></a></li>
                    <li><a href="#" id="login" data-form-url="@Url.Action("Login", "Usuario")"><span>Ingresar</span><div><i class="ri-user-line"></i></div></a></li>
                }
            </ul>
        </div>
    </nav>

    <section class="body-container">
        <header class="panel-titu"><span class="nav-link panel-eff"><h1>@ViewData["Title"]</h1></span></header>
        <aside class="panel-izq panel-eff">
            @RenderSection("PI", required: false) @* === Aqui se carga el contenido del panel izquierdo de la vista === *@
        </aside>
        <div class="panel-body panel-eff">
            @RenderBody() @* === Aqui se carga el contenido principal de cada vista === *@
        </div>
        <aside class="panel-der panel-eff">
            @RenderSection("PD", required: false) @* === Aqui se carga el contenido del panel derecho de la vista === *@
        </aside>
    </section>

    <footer class="panel-footer">
        <div class="">
            <a asp-area="Act8" asp-controller="Home" asp-action="">Inicio</a>
            <a asp-area="Act8" asp-controller="Peliculas" asp-action="">Peliculas</a>
            <a asp-area="Act8" asp-controller="Home" asp-action="Privacidad">Privacidad</a>
        </div>
        <div>
            |12/05/25|
        </div>
        <div class="separador"></div>
    </footer>

    @* === Formulario de sesion === *@
    @if (!isAuthenticated)
    {
        <div id="dynamicModal" class="modalPrincipal">
            <div class="contentModal">
                <span class="cierreModal">&times;</span>
                <div id="cuerpoModal">
                    @* === El contenido del formulario (login o registro) se cargará aquí por AJAX === *@
                </div>
            </div>
        </div>
    }

    @* === Mensajes de estados === *@
    @if (TempData.Count() > 0)
    {
        <div class="conte-notif panel-eff">
            <span class="cierre-notif">&times;</span>
            @if (TempData["Completado"] != null)
            {
                <div class="noti-Valido">
                    <h4>Completado</h4>
                    <p>@TempData["Completado"]</p>
                </div>
            }
            else if (TempData["Error"] != null)
            {
                <div class="noti-Error">
                    <h4>Error</h4>
                    <p>@TempData["Error"]</p>
                </div>
            }
            else if (TempData["Advertencia"] != null)
            {
                <div class="noti-Adver">
                    <h4>Advertencia</h4>
                    <p>@TempData["Advertencia"]</p>
                </div>
            }
        </div>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Act8/index.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>