@using TP_Final_Programacion5.Areas.Act4.Controllers
@using TP_Final_Programacion5.Areas.Act4.Models
@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Lista de peliculas";
}

<div class="conte-Text">
    <p>¡Hola, todavía está en mantenimiento!</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a href="#">Editar</a> |
                        <a asp-action="Detalles" asp-route-id="@item.Id">Details</a> |
                        <a href="#">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
 @section PD{<!--
    <a href="#">Create New</a>
    <a href="#">Editar</a>
    <a href="#">Detalle</a>
    <a href="#">Borrar</a>-->
}